@import '../../assets/_colors.scss';

.cards-parent {
  display: flex;
  height: 38em;

  .image-card,
  .text-card,
  .mixed-card {
    flex: 1;

    &:hover {
      background-size: contain;
    }
  }

  .text-card {
    align-items: center;
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    color: $dark_blue;

    .wrapper {
      width: 62%;

      h2 {
        font-size: 3em;
        font-weight: 900;
        margin-bottom: 0.8em;
      }

      p {
        font-size: 18px;
        color: $dark_grayish_blue;
        margin-bottom: 2.5em;
      }

      button {
        background: transparent;
        border: 0;
        color: $dark_blue;
        font-weight: 900;
        font-size: 18px;
        outline: none !important;
        position: relative;
        text-transform: uppercase;

        .button-border {
          bottom: 0;
          border-radius: 1em;
          height: 0.5em;
          left: -5%;
          opacity: 0.3;
          position: absolute;
          width: 110%;
          background-color: color;
          animation-name: wade;
          animation-timing-function: linear;
          animation-iteration-count: infinite;
          transform-origin: left;
          animation-duration: 1.5s;

          &:hover {
            opacity: 1;
            bottom: 0.1em;
          }
        }

        &:hover {
          cursor: pointer;

          .button-border {
            opacity: 0.5;
          }
        }
      }
    }
  }

  .mixed-card {
    display: flex;
    align-items: flex-end;
    justify-content: center;

    .content {
      width: 52%;
      margin-bottom: 4em;
      color: $dark_blue;

      h2 {
        margin-bottom: 1em;
        font-weight: 900;
        text-transform: capitalize;
        font-size: 1.5em;
      }
    }
  }
}

@keyframes wade {
  0%   { left: 0; }
  50%  { left: -10px; }
  100% { left: 0; }
}

@media only screen and (max-width: 780px) {
  .cards-parent {
    flex-direction: column;
    height: 58em;

    &.reverse {
      flex-direction: column-reverse;
    }

    .image-card,
    .text-card,
    .mixed-card {
      text-align: center;
    }

    .text-card {
      .wrapper {
        width: 80%;

        h2 {
          font-size: 1.8em;
        }
      }
    }

    .mixed-card {
      .content {
        width: 80%;
        margin-bottom: 2em;
      }
    }
  }
}
