.gallery {
  height: 25em;
  width: 100%;
  display: flex;

  .gallery-image {
    flex: 1;
  }
}

@media only screen and (max-width: 780px) {
  .gallery {
    flex-wrap: wrap;

    .gallery-image {
      min-width: 50%;
    }
  }
}
